@import url('./fonts.css');

*{
  box-sizing: border-box;
}

body{
  color: #333;
  background-color: #111;
}

main{
  padding: 50px;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  color: azure;
  /* height: 100%; */
  /* max-width: 70%; */
}

#root {
  min-height: 800px;  
 width: 100%;  
 background-image: url('../imgs/img3.jpg');
 background-size: cover; 
 background-repeat: no-repeat; 
}  

.logo {
  font-family: 'MyCustomFont4', sans-serif;
}

.logo .feed{
  font-family: 'MyCustomFont4', sans-serif;
  color: #ca4a00;
}

.logo .smart{
  font-family: 'MyCustomFont4', sans-serif;
}

/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  color: azure;
}


header nav a.active{
  color:#ca4a00;
  font-weight: bold;
}

img{
  max-width: 100%;
}

header a{
  text-decoration: none;
  color: inherit;
}

header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}

header nav{
  display: flex;
  gap: 20px;
}

/* POST */
div.post{
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-columns: 0.9fr 1.1fr; */
  gap: 30px
}

@media screen and (min-width:700px){
  div.post{
    grid-template-columns: 0.9fr 1.1fr;

  }
}

div.post div.text h2{
  margin: 0;
  font-size: 1.5rem;
}

div.post div.text a{
  text-decoration: none;
  color: inherit;
}

div.post p.info{
  margin: 5px 0;
  font-size: 0.7rem;
  color: #888;
  font-weight:500;
  display: flex;
  gap: 5px;
}

div.post p.info a.source{
  color: #333;
  font-weight: bold;
}

div.post p.summary{
  margin: 10px 0;
  font-size: 0.9rem;
  /* line-height: 1.2rem; */
}

/* FORMS */
form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}

input{
  display: block;
  background-color: #333;
  color: azure;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px 10px;
  /* border: px solid #bbb; */
  
  border-radius: 5px;
  margin-bottom: 15px;
}

button{
  margin-top: 7px;
  width: 100%;
  background-color: azure;
  color: #333;
  border-radius: 5px;
  /* display: block; */
  padding: 10px 10px;
  box-shadow: none;
}

form.login h1, form.register h1{
  text-align: center;
}

.login h1, .register h1, .choosePrefPage h2{
  color: azure;
}


/* POST PAGE */
div.post-page div.post-img{
  max-height: 250px;
  overflow: hidden;
  display: flex;
} 

div.post-page div.post-img img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a{
  color: #333;
  text-decoration: underline;
}

div.post-page h1{
  margin-bottom: 10 px;
}

div.post-page p.post-info span.source{
  font-weight: bold;
  /* font-size: 0.9rem; */
}

div.post-page p.post-info{
  font-size: 0.8rem;
  color:#888;
  margin: 0;
}

div.post-page div.content p{
  line-height: 1.5rem;
}

/*Index page*/
.index-page{
  color: azure;
}
.welcome-message {
  font-size: 24px;
  color: #6b6b6b;
  margin-top: 20px;
}

.index-page .about-us {
  font-size: 20px;
  color: #000000;
  margin-top: 20px;
  color: white;
}

.index-page .additional-text {
  font-size: 18px;
  color: white;
  margin: 20px;
}


/* CARD */
.display-card {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; Distribute space between cards */
}

.main-card {
  background: #111;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 270px;
  height: 370px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  margin-bottom: 30px;
  margin-left: 20px;
}
.main-card:hover{
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.5);
}
.img-card{
  object-fit: cover;
  object-position: center center;
  width:100%;

}
.bookmark-icon{
  position: absolute;
  top: 10px;
  right: 10px;
  color:crimson;
  cursor: pointer;
  display: none;
  z-index: 10;
}
.main-card:hover .bookmark-icon{
  display: block;
}
.title-card{
  padding:10px;
  margin-top: 3px;
  margin-bottom: 2px;
  padding-bottom: 0;
  font-size: 15px;
}

div.main-card div.text a{
  text-decoration: none;
  color: inherit;
}


.time-card{
  font-size: 0.7rem;
  margin: 0;
  padding: 0 10px;
  padding-top: 5px;
  color: #ca4a00;
  font-weight: 400;
  /* padding-bottom: 5px; */
}
.summary-card{
  color: #888;
  font-size: 12px;
  padding: 0 10px;
  padding-top: 5px;
  overflow: hidden;
  flex:1;
}
.display-card{
  display: flex;
}

.exploreContent, div.yourfeed-page div.cards{
  display: flex;
  flex-wrap: wrap;
}

div.main-card div.text{
  /* padding: 5px; */
  color: azure;
}