
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
 /* #root {
     min-height: 800px;  
    width: 100%;  
    background-image: url("../imgs/img2.png");
    background-size: cover; 
    /* background-repeat: no-repeat;  */
   /* }  */ 
  
  .welcome-message {
    font-size: 24px;
    color: #6b6b6b;
    margin-top: 20px;
  }
  
  .about-us {
    font-size: 20px;
    color: #000000;
    margin-top: 20px;
    color: white;
  }
  
  .additional-text {
    font-size: 18px;
    color: white;
  }
  